.banner{
    margin: 30px 30px;
    display: inline-block;
}
.banner label{
    display: block;
}
.pergunta{
    color:var(--azul);
    font-size: 18px;
    margin: 0 0 1em 13em;
}
.banner__titulo{
    font-size: 48px;
    margin: 0.5em 0 0.5em 4.8em;
    line-height: 1.3em;
}
.banner__imagem{
    width: 95vw;
    border-radius: 16px;
}
.banner__infos{
    width: 366px;
    margin: 0.5em 0 0.5em 15em;
    display: flex;
    flex-direction: column;
}
.info__titulo{
    font-size: 48px;
    line-height: 1.3em;
}
.banner__texto{
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 1.5rem;
}
.contato{
    margin: 0 15em
}
.contato label{
    margin-bottom: 10px;
    color:var(--cinza);
    font-family: var(--fonte-texto);
    font-size: 14px;
}
#banner__email{
    padding: 1em;
    width: 25%;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: var(--cinza6);
}
#banner__email::placeholder{
    font-size:18px;
    color: var(--cinza4);   
    background-image: url("../img/email.png");
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 2em;
}
.banner__button{
    margin: 0 0 0 -4.6em;
    padding: 0.45em 1.2em;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: var(--azul);
    color: var(--branco);
    font-weight: 500;
    font-size: 18px;
}