.equipe{
    display: flex;
    margin: 2em  0 2em 18em;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.equipe__descritivo{
    padding: 1em 0;
    width: 30%;
}
.texto__chamativo{
    color:var(--vermelho);
    font-size: 18px;
    margin: 1rem 0;
}
.equipe__titulo{
    color: var(--cor-fonte-titulo);
    font-size: 36px;
    margin-bottom: 14px;
}
.equipe__descricao{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-fonte-texto);
}
.equipe__fotos{
    width: 70%;
    margin-left: 2.5em;
    padding: 2.5em 1em;
    position: relative;
}
.funcionario__foto{
    border-radius: 16px;
}
.func2{
    position: relative;
    bottom: 180px;
    left:15px
}
.func3{
    position: absolute;
    top:190px;
    left:355px;
}