.projetos{
    margin: 2em 10.7em;
    display: flex;
    flex-direction: column;
    height: 100vw;
}
.projetos__titulo{
    font-size: 36px;
    line-height: 56px;
}
.exemplo__projetos{
    display: grid;
    grid-template-columns: repeat(2,auto);
    transition: all 1s;
}
.card__projeto{
    margin: 0 1em 0 2em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    transition: all 0.7s ;
    border-radius: 16px;
}
.card__projeto:hover{
    transform: scale(1.2);
    margin: 1.2em 2.5em 5em 2.5;
    background-color: var(--branco);
    box-shadow:  0px 10px 30px rgba(51, 51, 51, 0.1);
}

.projeto__imagem{
    width: 100%;
    border-radius: 16px;
}
.projeto__descricao{
    font-size: 14px;
    font-weight: 300;
    color:var(--cinza);
    margin: 1rem 0 0 0;
}
.projeto__nome{
    font-size: 24px;
    color: var(--cor-fonte-titulo);
    margin: 0.5rem 0;
}
.projetos__extra{
    text-align: end;
}
.projetos__extra a{
    text-decoration: none;
    margin-left: 70%;
}
.projeto__extra__link::before{
    content: "See More";
    color: var(--azul);
    font-size: 24px;
}
.projeto__extra__link::after{
    font-family: "Material Symbols Outlined";
    content: "\e5c8";
    color: var(--azul);

}
.projetos__extra:hover a{
    text-decoration:underline;
    text-decoration-color:var(--azul);
    cursor: pointer;
}