@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;700&display=swap');
@import url("./cabecalho.css");
@import url("./banner.css");
@import url("./produtos.css");
@import url("./projetos.css");
@import url("./equipe.css");
@import url("./comentario.css");
@import url("./rodape.css");


:root{
    --preto:#000000;
    --azul: #2D9CDB;
    --cor-fonte-titulo: #333333;
    --cor-fonte-texto: #4F4F4F;
    --cinza:#828282;
    --cinza6:#F2F2F2;
    --cinza4:#BDBDBD;
    --cinza2:#E0E0E0;
    --branco:#FFFFFF;
    --verde:#27AE60;
    --vermelho:#EB5757;
    --cor-rodape:#100E1D;   
    --fonte-titulo: Heebo;
    --fonte-texto: Poppins;
   
}

body{
    background: var(--branco);
    font-family: var(--fonte-texto);
    font-weight: 500;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
main{
    margin-bottom: 12em;
}